/* Resetando estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Cor de fundo suave */
    color: #333; /* Cor padrão de texto */
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

/* Formulário de busca */
.form-control {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000;
    padding: 0.5rem 1rem;
}

.btn-outline-success {
    color: #ffffff;
    border-color: #ffffff;
    padding: 0.5rem 1rem;
}

.btn-outline-success:hover {
    background-color: #34a853;
    color: #ffffff;
    border-color: #34a853;
}

/* Layout principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

/* Menu lateral fixo */
.sidebar {
    height: 100vh;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40; /* Cinza escuro */
    color: white;
    padding-top: 1rem;
    overflow-y: auto;
    z-index: 1030;
    transition: transform 0.3s ease-in-out;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 1rem;
}

.sidebar .logo img {
    max-height: 50px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #495057;
}

/* Conteúdo principal */
.main-content {
    margin-left: 240px;
    padding: 2rem;
    transition: margin-left 0.3s ease-in-out;
}

/* Ajustes responsivos para telas menores */
@media (max-width: 992px) {
    .sidebar {
        width: 240px;
        transform: translateX(-100%);
    }

    .sidebar.show {
        transform: translateX(0); /* Exibe a sidebar */
    }

    .main-content {
        margin-left: 0; /* Remove margem esquerda para conteúdo */
    }
}

/* Overlay para escurecer o fundo */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1029;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.overlay.show {
    display: block;
}

/* Estilizando os cards */
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 100%;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
}

.card-body {
    background-color: #f9f9f9;
    padding: 17px;
}

.card-title {
    font-size: 1.55rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

.card-text small.text-muted {
    color: #999;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card a:hover {
    color: #007bff;
}

.card i {
    color: #007bff;
    font-size: 1.5rem;
}

/* Navbar */
.navbar-brand {
    width: 100px;
    height: auto;
}

/* Links Globais */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
