body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding-bottom: 60px;
}
/* Estilo geral da navbar */
.navbar {
  background-color: #1a73e8; /* Azul mais escuro */
}

.navbar-brand, .nav-link {
  color: #ffffff !important; /* Cor dos links e do texto da marca */
  font-weight: bold; /* Deixa os links e marca em negrito */
}

.nav-link:hover {
  color: #d0e2ff !important; /* Efeito ao passar o mouse */
}

/* Botão de busca */
.form-control {
  border: 1px solid #ffffff;
  background-color: #f1f3f4;
  color: #000;
}

.btn-outline-success {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-success:hover {
  background-color: #34a853;
  color: #ffffff;
  border-color: #34a853;
}

/* Ajuste de espaçamento e tamanho */
.navbar-nav .nav-item {
  margin-right: 15px;
}
.navbar-brand {
  font-size: 1.8rem;
}
.container {
  display: flex; /* Ativa o Flexbox */
  flex-direction: column; /* Organiza os itens em coluna */
  align-items: center; /* Centraliza horizontalmente */
  padding: 20px; /* Espaçamento interno */
}

.header {
    background-color: #007bff;
    color: white;
    padding: 15px 0;
}
h1 {
    color: #343a40;
    font-family: 'Arial', sans-serif;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 15px;
}
.btn {
    transition: background-color 0.3s ease;
}
.btn:hover {
    opacity: 0.85;
}
.hidden {
    display: none;
}
.form-control {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.card {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
}


/* Estilos para o fundo do carregamento */
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Estilos para o spinner */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

