body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Cor de fundo suave */
}
h1 {
    color: #333;
}

/* Botão de busca */
.form-control {
    border: 1px solid #ffffff;
    background-color: #f1f3f4;
    color: #000;
}

.btn-outline-success {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-success:hover {
    background-color: #34a853;
    color: #ffffff;
    border-color: #34a853;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
.no-data {
    color: #a00; /* Vermelho para indicar ausência de dados */
    font-style: italic;
}

.navbar-brand{
    width: 100px;
}

.select_filter{
    width: 90px;
    margin-left: 10px;

}
.button_filter{
    background-color: transparent;
    border-color: transparent;
}

