.table-responsive {
    overflow-x: auto; /* Garante a rolagem horizontal */
    -webkit-overflow-scrolling: touch; /* Suaviza o scroll em dispositivos móveis */
}
body {
    font-family: Arial, sans-serif;

}
.txt-central-estoque{
    padding: 20px;
}

.form-index{display: flex;}