<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Estoque</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
        .navbar-brand {
            font-weight: bold;
            color: #0d6efd;
          }
          
          .navbar-nav .nav-link.active {
            font-weight: bold;
            color: #198754;
          }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #f1f1f1;
        }
        .no-data {
            color: #a00; /* Vermelho para indicar ausência de dados */
            font-style: italic;
        }
        .footer {
            text-align: center;
            margin-top: 40px;
            color: #6c757d;
        }
    </style>
</head>
<body>
    <header class="text-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">CDG Estoque</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/form">Cadastro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/estoque">Estoque</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Estoque</h1>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h2>Quantidade em estoque</h2>
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        {% comment %} <tr>
                            <th>
                                <input type="text" id="nome" name="nome" class="form-control" value="{{ form.nome.value|default_if_none:'' }}" required>
                            </th>
                            <th>
                                <a href="" class="btn btn-primary btn-sm">Filtrar</a>
                            </th>
                        </tr> {% endcomment %}
                        <tr>
                            <th>Tipo de Material</th>
                            <th>Quantidade Unidades</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if estoque_total %}
                            {% for tipo_material, quantidade in estoque_total.items %}
                            <tr>
                                <td>{{ tipo_material }}</td>
                                <td id="qtde">{{ quantidade|default:0 }} Unidades</td> 
            
                                <!-- Adicione mais colunas conforme necessário -->
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="2" class="no-data">Nenhum dado disponível.</td>  <!-- Corrigido para o número de colunas -->
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h2>Estoque Geral</h2>
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Tipo de Material</th>
                            <th>Estoque Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in estoque_total_geral %}
                            <tr>
                                <td>{{ item.tipo_de_material }}</td>
                                <td>{{ item.estoque_total }} {{ item.tipo }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        
            
        </div>
        <footer class="footer">
            <p>&copy; 2024 CDG Estoque. Todos os direitos reservados.</p>
        </footer>
    </div>
    {% if messages %}

    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true" id="alert">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Atenção</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <span id="alert-message"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  
    <script>
        window.onload = function() {
            var myModal = new bootstrap.Modal(document.getElementById('alert'));
            var alertMessage = document.getElementById('alert-message'); // Corrigido aqui
            {% for message in messages %}
              alertMessage.innerText = '{{ message }}'; // Corrigido aqui
              myModal.show();
            {% endfor %}
        }
    </script>
  {% endif %}

<script>
        const qtdeElements = document.getElementsByClassName('qtde');

        // Itera sobre os elementos e faz algo com cada um
        for (let i = 0; i < qtdeElements.length; i++) {
            console.log(qtdeElements[i].value); // Exemplo: imprime o valor de cada elemento
        }
    
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlHjAAk/U6e7Q1iGJrAzKV7kGmVprg3A5W9Q5GzI7hXp2Kf6B6Zj/sWpcpN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhG81r6scLFK4pAN5TxF6N6L4e3dCkrPq5q5r5C70T1au4PJKXQ1CrYsG5gP" crossorigin="anonymous"></script>
</body>
</html>
