{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/style_index_btn.css' %}">

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="{% static 'IMG/logo_png_site.png' %}" alt="Descrição da Imagem" class="img-fluid" style="max-height: 40px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/form">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">Listagem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/estoque">Estoque</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          {% if id == 1 %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'register_view' %}">Administrador</a>
          </li>
            {% endif %}
      

        </ul>
        <form class="d-flex">

        </form>
      </div>
    </div>
  </nav>

    <div class="container">
        <div class="col-12 text-center mb-4">
            <h1 class="display-6">Bem-vindo, {{ nome_usuario }}!</h1>
        </div>

        <div class="row">
            <div class="col-12 col-md-3"> <!-- Ajuste responsivo -->
                <a href="form/">
                    <div class="card mb-3">
                        <img src="{% static 'IMG/input.png' %}" class="card-img-top" alt="Estoque">
                        <div class="card-body">
                            <h5 class="card-title">Cadastrar</h5>
                            <p class="card-text">Cadastre novos produtos no sistema com facilidade.</p>
                            <p class="card-text"><small class="text-muted">Última atualização 3 mins atrás</small></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3">
                <a href="home/">
                    <div class="card mb-3">
                        <img src="{% static 'IMG/to-do-list.png' %}" class="card-img-top" alt="Estoque">
                        <div class="card-body">
                            <h5 class="card-title">Listagem</h5>
                            <p class="card-text">Veja a listagem dos produtos cadastrados.</p>
                            <p class="card-text"><small class="text-muted">Última atualização 3 mins atrás</small></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3"> <!-- Ajuste responsivo -->
                <a href="estoque/">
                    <div class="card mb-3">
                        <img src="{% static 'IMG/inventory.png' %}" class="card-img-top" alt="Estoque">
                        <div class="card-body">
                            <h5 class="card-title">Estoque</h5>
                            <p class="card-text">Gerencie seu estoque de maneira eficiente.</p>
                            <p class="card-text"><small class="text-muted">Última atualização 3 mins atrás</small></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3"> <!-- Ajuste responsivo -->
                <a href="dashboard/">
                    <div class="card mb-3">
                        <img src="{% static 'IMG/dashboard.png' %}" class="card-img-top" alt="Dashboard">
                        <div class="card-body">
                            <h5 class="card-title">Dashboard</h5>
                            <p class="card-text">Gerencie seu Dashboard de maneira eficiente.</p>
                            <p class="card-text"><small class="text-muted">Última atualização 3 mins atrás</small></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    {% if messages %}

    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true" id="alert">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Atenção</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <span id="alert-message"></span>
          </div>
          <div class="modal-footer">
            <button onclick="loading-btn()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  
    <div id="loading" style="display: none;">
      <div class="spinner"></div>
  </div>
  
  
    <script>
        window.onload = function() {
            var myModal = new bootstrap.Modal(document.getElementById('alert'));
            var alertMessage = document.getElementById('alert-message'); // Corrigido aqui
            {% for message in messages %}
              alertMessage.innerText = '{{ message }}'; // Corrigido aqui
              myModal.show();
            {% endfor %}
        }
  {% endif %}
    <script src="{% static 'js/script_index_btn.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>
